<h2 mat-dialog-title>Requesting Facility</h2>
<mat-dialog-content>
    <form class="bg-card mt-8 flex flex-col overflow-hidden rounded-2xl p-8 pb-4 shadow">
        <div class="gt-xs:flex-row flex flex-col">
            <mat-form-field class="gt-xs:pr-3 flex-auto">
                <mat-label>Facility Name</mat-label>
                <input matInput />
                <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
            </mat-form-field>
            <mat-form-field class="gt-xs:pl-3 flex-auto">
                <mat-label>Hospital Reg No</mat-label>
                <input matInput />
                <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
            </mat-form-field>

            <mat-form-field class="gt-xs:pl-3 flex-auto">
                <mat-label>Requesting doctor</mat-label>
                <input matInput />
                <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
            </mat-form-field>

            <!-- Sample Details -->
            <div class="font-medium text-lg my-3">Sample Details</div>

            <mat-form-field class="gt-xs:pr-3 flex-auto">
                <mat-label>Material submitted</mat-label>
                <mat-select [placeholder]="'Material submitted'">
                    <mat-option value="submitted-1">Material submitted 1 </mat-option>
                    <mat-option value="submitted-2">Material submitted 2 </mat-option>
                    <mat-option value="submitted-3">Material submitted 3</mat-option>
                </mat-select>
                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:question-mark-circle'"></mat-icon>
            </mat-form-field>

            <mat-form-field class="flex-auto">
                <mat-label>Clinical History</mat-label>
                <textarea matInput cdkTextareaAutosize [cdkAutosizeMinRows]="3"></textarea>
                <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:book-open'"></mat-icon>
            </mat-form-field>

            <mat-form-field class="gt-xs:pr-3 flex-auto">
                <mat-label>Clinical diagnosis</mat-label>
                <mat-select [placeholder]="'Clinical diagnosis'">
                    <mat-option value="Clinical-1">Clinical diagnosis 1 </mat-option>
                    <mat-option value="Clinical-2">Clinical diagnosis 2 </mat-option>
                    <mat-option value="Clinical-3">Clinical diagnosis 3</mat-option>
                </mat-select>
                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:question-mark-circle'"></mat-icon>
            </mat-form-field>

            <mat-form-field class="gt-xs:pr-3 flex-auto">
                <mat-label>Test ordered</mat-label>
                <mat-select [placeholder]="'Material submitted'">
                    <mat-option value="ordered-1">Test ordered 1 </mat-option>
                    <mat-option value="ordered-2">Test ordered 2 </mat-option>
                    <mat-option value="ordered-3">Test ordered 3</mat-option>
                </mat-select>
                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:question-mark-circle'"></mat-icon>
            </mat-form-field>

            <mat-form-field class="gt-xs:pr-3 flex-auto">
                <mat-label>Sample priority</mat-label>
                <mat-select [placeholder]="'Sample priority'">
                    <mat-option value="High-1">High </mat-option>
                    <mat-option value="Medium-2">Medium </mat-option>
                    <mat-option value="Low-3">Low</mat-option>
                </mat-select>
                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:question-mark-circle'"></mat-icon>
            </mat-form-field>

            <mat-form-field color="accent" appearance="outline" class="w-full">
                <mat-label>Receiving Date</mat-label>
                <input matInput [matDatepicker]="picker2" readonly>
                <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
                <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2 color="primary">
                    <mat-datepicker-actions>
                        <button mat-button matDatepickerCancel>Cancel</button>
                        <button mat-raised-button color="primary" matDatepickerApply>OK</button>
                    </mat-datepicker-actions>
                </mat-datepicker>
            </mat-form-field>
        </div>

    </form>
</mat-dialog-content>
<!-- <button mat-button mat-dialog-close>Close</button> -->
<div
    class="flex items-center justify-center space-x-3 bg-gray-50 px-6 py-4 dark:bg-black dark:bg-opacity-10 sm:justify-end">
    <!-- Cancel -->
    <button mat-stroked-button [matDialogClose]="'cancelled'">
        Cancel
    </button>

    <!-- Confirm -->
    <button mat-flat-button [color]="'primary'" [matDialogClose]="'confirmed'">
        Submit
    </button>

</div>