<div class="bg-card flex min-w-0 flex-auto flex-col dark:bg-transparent sm:absolute sm:inset-0 sm:overflow-hidden">
    <!-- Header -->
    <div
        class="relative flex flex-0 flex-col border-b px-6 py-8 sm:flex-row sm:items-center sm:justify-between md:px-8">
        <!-- Loader -->
        @if (isLoading) {
        <div class="absolute inset-x-0 bottom-0">
            <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
        </div>
        }

        <!-- Title -->
        <div class="text-4xl font-extrabold tracking-tight">Concept Note</div>

        <!-- Actions -->
        <div class="mt-6 flex shrink-0 items-center sm:ml-4 sm:mt-0">
            <!--  Add -->
            <button class="ml-4 min-w-10 px-1 sm:px-4" mat-flat-button [color]="'primary'"
                (click)="gotoAddConceptNote()">
                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:plus-circle'"></mat-icon>
                <span class="ml-2 hidden sm:inline-block">New Entry</span>
            </button>
        </div>
    </div>

    <div class="p-8">
        <!-- Advanced search form -->
        <div class="grid w-full grid-cols-2 gap-3">

            <mat-form-field class="gt-xs:pr-3 flex-auto">
                <mat-label>Project Status</mat-label>
                <mat-select [placeholder]="'Project Status'" [(value)]="selectedStatus" (selectionChange)="onStatusChange($event)">
                    <mat-option value="DRAFT">DRAFT</mat-option>
                    <mat-option value="PENDING">PENDING</mat-option>
                    <mat-option value="RECOMMENDED">RECOMMENDED</mat-option>
                    <mat-option value="APPROVED">APPROVED</mat-option>
                </mat-select>
            </mat-form-field>


            <mat-form-field class="gt-xs:pr-3 flex-auto">
                <mat-label>Sector</mat-label>
                <mat-select [placeholder]="'Sector'" [(value)]="selectedSector" (selectionChange)="onSectorSelected($event)">
                    @for (
                    sector of sectors;
                    track sector
                    ) {
                    <mat-option [value]="sector.id">{{
                        sector.name
                        }}</mat-option>
                    } @empty {
                    <li>There are no items.</li>
                    }
                </mat-select>
            </mat-form-field>

            <!-- Search projects -->
            <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:magnifying-glass'"></mat-icon>
                <input 
                  matInput 
                  [(ngModel)]="searchProjectName"
                  [autocomplete]="'off'" 
                  [placeholder]="'Project Name/ Reference'" 
                  (keyup)="onKeyPress()" />
              </mat-form-field>
              

            <button class="ml-4 max-w-40 px-1 sm:px-4" mat-flat-button [color]="'warn'"
                (click)="resetFilter()">
                <mat-icon svgIcon="heroicons_solid:arrow-uturn-down"></mat-icon>
                <span class="ml-2 hidden sm:inline-block">Reset</span>
            </button>

        </div>
    </div>

    <!-- Main -->
    <div class="flex flex-auto overflow-hidden">
        <!-- Products list -->
        <div class="flex flex-auto flex-col overflow-hidden sm:mb-18 sm:overflow-y-auto">
            @if (true) {
            @if (true) {
            <div class="grid w-full grid-cols-1 gap-8 xl:grid-cols-3">
                <!-- Recent projects table -->
                <div class="bg-card flex flex-auto flex-col overflow-hidden rounded-2xl shadow xl:col-span-3">
                    <div class="mx-6 overflow-x-auto">
                        <table class="w-full bg-transparent" mat-table matSort [dataSource]="recentProjectDataSource"
                            [trackBy]="trackByFn" #recentprojectsTable>
                            <!-- projects ID -->
                            <ng-container matColumnDef="projectId">
                                <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                    Reference
                                </th>
                                <td mat-cell *matCellDef="let project">
                                    <span class="text-secondary whitespace-nowrap pr-6 text-sm font-medium">
                                        {{ project.project_id }}
                                    </span>
                                </td>
                            </ng-container>

                            <!-- Name -->
                            <ng-container matColumnDef="name">
                                <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                    Project Name
                                </th>
                                <td mat-cell *matCellDef="let project">
                                    <span class="whitespace-nowrap pr-6">
                                        {{ project.project_name }}
                                    </span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="project_nature">
                                <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                    Project Nature
                                </th>
                                <td mat-cell *matCellDef="let project">
                                    <span class="whitespace-nowrap pr-6">
                                        {{ project.project_nature.name }}
                                    </span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="sector">
                                <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                    Sector
                                </th>
                                <td mat-cell *matCellDef="let project">
                                    <span class="whitespace-nowrap pr-6">
                                        {{ project.sector.name }}
                                    </span>
                                </td>
                            </ng-container>

                            <!-- Amount -->
                            <ng-container matColumnDef="amount">
                                <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                    Total Estimated Amount (Tzs)
                                </th>
                                <td mat-cell *matCellDef="let project" class="text-right">
                                    <span class="whitespace-nowrap pr-6 font-medium">
                                        {{ project.estimated_cost | number: '1.4-4' }}
                                    </span>
                                </td>
                            </ng-container>

                            <!-- Status -->
                            <ng-container matColumnDef="status">
                                <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                    Status
                                </th>
                                <td mat-cell *matCellDef="let project">
                                    <span
                                        class="inline-flex items-center rounded-full px-2.5 py-0.5 text-xs font-bold uppercase tracking-wide"
                                        [ngClass]="{
                                                    'bg-red-600 !text-gray-50':
                                                        project.status ===
                                                        'PENDING',
                                                    'bg-gray-600 !text-white':
                                                        project.status ===
                                                        'DRAFT',    
                                                    'bg-green-200 text-green-800':
                                                        project.status ===
                                                        'APPROVED',
                                                    'bg-blue-500 text-white dark:bg-blue-600 dark:text-blue-50':
                                                        project.status ===
                                                        'RECOMMENDED',    
                                                }">
                                        <span class="whitespace-nowrap leading-relaxed">{{ project.status }}</span>
                                    </span>
                                </td>
                            </ng-container>

                            <!-- Status -->
                            <ng-container matColumnDef="action">
                                <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                    Actions
                                </th>
                                <td mat-cell *matCellDef="let project">
                                    <!-- Actions -->
                                    <div class="-mr-2 -mt-2 ml-auto">
                                        <button class="rounded-full bg-primary" mat-icon-button [matMenuTriggerFor]="
                                                        budgetMenu
                                                    ">
                                            <mat-icon class="text-white icon-size-5" [svgIcon]="
                                                            'heroicons_mini:ellipsis-vertical'
                                                        "></mat-icon>
                                        </button>
                                        <mat-menu #budgetMenu="matMenu">
                                            <button (click)="
                                                            goToCriteriaAccessment()
                                                        " mat-menu-item>
                                                Criteria Assessment
                                            </button>
                                            <button (click)="evaluateConceptNote()" mat-menu-item>
                                                Evaluate
                                            </button>
                                            <button (click)="summaryProject()" mat-menu-item>
                                                Summarize
                                            </button>
                                            <button (click)="viewInDetails()" mat-menu-item>
                                                View In Details
                                            </button>
                                            <button mat-menu-item>
                                                Accept
                                            </button>
                                        </mat-menu>
                                    </div>
                                </td>
                            </ng-container>

                            <!-- Footer -->
                            <ng-container matColumnDef="recentOrdersTableFooter">
                                <td class="border-0 px-0 py-6" mat-footer-cell *matFooterCellDef colspan="6">
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="
                                            recentprojectsTableColumns
                                        "></tr>
                            <tr class="order-row h-16" mat-row *matRowDef="
                                            let row;
                                            columns: recentprojectsTableColumns
                                        "></tr>
                            <tr class="h-16 border-0" mat-footer-row *matFooterRowDef="[
                                            'recentOrdersTableFooter',
                                        ]"></tr>
                        </table>

                        <mat-paginator
                            class="z-10 border-b bg-gray-50 dark:bg-transparent sm:absolute sm:inset-x-0 sm:bottom-0 sm:border-b-0 sm:border-t"
                            [ngClass]="{
                                        'pointer-events-none': isLoading,
                                    }" [pageSizeOptions]="[10, 25, 50, 100]"
                            [showFirstLastButtons]="true"></mat-paginator>
                    </div>
                </div>
            </div>
            } @else {
            <div class="border-t p-8 text-center text-4xl font-semibold tracking-tight sm:p-16">
                There are no products!
            </div>
            }
            }
        </div>
    </div>
</div>
