<div class="flex min-w-0 flex-auto flex-col">
    <!-- Header -->
    <div
        class="bg-card flex flex-0 flex-col border-b p-6 dark:bg-transparent sm:flex-row sm:items-center sm:justify-between sm:px-10 sm:py-8">
        <div class="min-w-0 flex-1">
            <!-- Breadcrumbs -->
            <div class="flex flex-wrap items-center font-medium">
                <div>
                    <a class="whitespace-nowrap text-primary-500">Clients</a>
                </div>
                <div class="ml-1 flex items-center whitespace-nowrap">
                    <mat-icon class="text-secondary icon-size-5" [svgIcon]="'heroicons_mini:chevron-right'"></mat-icon>
                    <a class="ml-1 text-primary-500">Registration</a>
                </div>
            </div>
            <!-- Title -->
            <div class="mt-2">
                <h2 class="truncate text-3xl font-extrabold leading-7 tracking-tight sm:leading-10 md:text-4xl">
                    Registration Form
                </h2>
            </div>
        </div>
    </div>

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">
        <div class="max-w-full">

            <!-- Horizontal stepper -->
            <div class="mb-8 mt-16 text-3xl font-bold">Add Client Details</div>

            <form class="bg-card overflow-hidden rounded p-4 shadow" [formGroup]="horizontalStepperForm">
                <mat-horizontal-stepper [linear]="true" #horizontalStepper>
                    <mat-step [formGroupName]="'step1'" [stepControl]="horizontalStepperForm.get('step1')"
                        #horizontalStepperStep1>
                        <ng-template matStepLabel>Personal Information</ng-template>
                        <p class="my-6 font-medium">
                            Please fill out this Registration form with the required information
                        </p>

                        <!-- NAMES -->
                        <div class="grid grid-cols-2 gap-4 w-full">
                            <mat-form-field class="gt-xs:pr-3 flex-auto">
                                <input matInput [formControlName]="'firstName'" [placeholder]="'First name'" required />
                                <mat-icon class="icon-size-5" matPrefix
                                    [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                            </mat-form-field>
                            <mat-form-field class="gt-xs:pr-3 flex-auto">
                                <input matInput [formControlName]="'middleName'" [placeholder]="'Middle name'"
                                    required />
                                <mat-icon class="icon-size-5" matPrefix
                                    [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                            </mat-form-field>
                            <mat-form-field class="gt-xs:pl-3 flex-auto">
                                <input matInput [formControlName]="'lastName'" [placeholder]="'Last name'" required />
                                <mat-icon class="icon-size-5" matPrefix
                                    [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                            </mat-form-field>
                        </div>

                        <!-- DOB -->
                        <div class="grid grid-cols-2 gap-x-10">
                            <div *ngIf="!dobUnknown">
                                <mat-form-field color="accent" appearance="outline" class="w-full">
                                    <mat-label>Date of brith</mat-label>
                                    <input matInput [matDatepicker]="picker2" [formControlName]="'dob'"
                                        (dateChange)="onDateChange($event)" [max]="maxDate" readonly>
                                    <mat-hint>MM/DD/YYYY</mat-hint>
                                    <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                                    <mat-datepicker #picker2 color="primary">
                                        <mat-datepicker-actions>
                                            <button mat-button matDatepickerCancel>Cancel</button>
                                            <button mat-raised-button color="primary" matDatepickerApply>OK</button>
                                        </mat-datepicker-actions>
                                    </mat-datepicker>
                                </mat-form-field>
                                <p class="pl-3"><b>{{clientAge}}</b></p>
                            </div>

                            <!-- AGE (FOR UNKOWN DOB) -->
                            <div *ngIf="dobUnknown">
                                <mat-form-field appearance="outline" class="w-full">
                                    <mat-label>Age</mat-label>
                                    <!-- <input (blur)="updateAge($event)" matInput placeholder="Placeholder" [formControlName]="'age'" /> -->
                                    <input (keyup)="checkAgeAbove120($event)" matInput placeholder="Placeholder"
                                        [formControlName]="'age'" required />
                                </mat-form-field>
                                <span class="text-red-600"
                                    *ngIf="horizontalStepperForm.get('age')?.hasError('pattern') && horizontalStepperForm.get('age')?.valueChanges">
                                    Please enter numbers only
                                </span>
                                <div class="text-red-600"
                                    *ngIf="horizontalStepperForm.get('age')?.hasError('invalidAge')">Invalid age. Please
                                    enter a value below 120.</div>
                            </div>
                            <span><mat-checkbox [checked]="dobUnknown" (change)="unknownDob()"
                                    class="example-margin"><b>UNKNOWN DOB</b></mat-checkbox></span>
                        </div>

                        <!-- MARTIAL STATUS, OCCUPATION  -->
                        <div class="mt-3 grid grid-cols-2 gap-4 w-full">
                            <mat-form-field class="gt-xs:pr-3 flex-auto">
                                <mat-select [formControlName]="'maritalStatus'" [placeholder]="'Marital Status'">
                                    <mat-option value="single">Single</mat-option>
                                    <mat-option value="married">Married</mat-option>
                                    <mat-option value="divorced">Divorced</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field class="gt-xs:pl-3 flex-auto">
                                <mat-select [formControlName]="'occupation'" [placeholder]="'Occupation'">
                                    <mat-option value="doctor">Doctor</mat-option>
                                    <mat-option value="engineer">Engineer</mat-option>
                                    <mat-option value="farmer">Farmer</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <!-- CLIENT ID  -->
                        <div class="mt-3 grid grid-cols-2 gap-4 w-full">
                            <mat-form-field class="gt-xs:pr-3 flex-auto">
                                <mat-select [formControlName]="'cardId'" [placeholder]="'Client ID'"
                                    (selectionChange)="onSelectionChange($event)">
                                    <mat-option value="driving_licence">Driving Licence</mat-option>
                                    <mat-option value="voters_id">Voters ID</mat-option>
                                    <mat-option value="passport_number">Passport Number</mat-option>
                                    <mat-option value="nida">NIDA</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field *ngIf="idCardPresent" class="gt-xs:pr-3 flex-auto">
                                <input matInput [formControlName]="'idNumber'" [placeholder]="'ID Number'" />
                                <mat-icon class="icon-size-5" matPrefix
                                    [svgIcon]="'heroicons_solid:identification'"></mat-icon>
                            </mat-form-field>
                        </div>


                        <div class="flex justify-end">
                            <button class="px-8" mat-flat-button [color]="'primary'" [disabled]="
                                      horizontalStepperStep1.stepControl
                                          .pristine ||
                                      horizontalStepperStep1.stepControl.invalid
                                  " type="button" matStepperNext>
                                Next
                            </button>
                        </div>
                    </mat-step>

                    <mat-step [formGroupName]="'step2'" [stepControl]="horizontalStepperForm.get('step2')"
                        #horizontalStepperStep2>
                        <ng-template matStepLabel>Demographic Information</ng-template>
                        <p class="my-6 font-medium">
                            Person Demographic information
                        </p>
                        <!-- Demographic information -->
                        <div class="grid grid-cols-2 gap-4 w-full">
                            <mat-form-field class="gt-xs:pr-3 flex-auto">
                                <mat-select [formControlName]="'location'" [placeholder]="'Location'" required>
                                    <mat-option value="location-1">Location 1</mat-option>
                                    <mat-option value="location-2">Location 2</mat-option>
                                    <mat-option value="location-3">Location 3</mat-option>
                                </mat-select>
                                <mat-icon class="icon-size-5" matPrefix
                                    [svgIcon]="'heroicons_solid:map-pin'"></mat-icon>
                            </mat-form-field>
                            <mat-form-field class="gt-xs:pr-3 flex-auto">
                                <input matInput [formControlName]="'phoneNumber'" [placeholder]="'Phone number'"
                                    required />
                                <mat-icon class="icon-size-5" matPrefix
                                    [svgIcon]="'heroicons_solid:phone-arrow-up-right'"></mat-icon>
                            </mat-form-field>
                            <mat-form-field class="gt-xs:pl-3 flex-auto">
                                <input matInput [formControlName]="'landmarkDescription'"
                                    [placeholder]="'Landmark description'" />
                                <mat-icon class="icon-size-5" matPrefix
                                    [svgIcon]="'heroicons_solid:map-pin'"></mat-icon>
                            </mat-form-field>
                        </div>

                        <!-- Next of kin -->
                        <h3>Next of kin Information</h3>
                        <div>
                            <div class="flex flex-col w-full my-3">
                              <label id="radio-kin">Does the client have Next of Kin?</label>
                              <mat-radio-group (change)="nextKinPresent($event)" aria-labelledby="radio-kin" required>
                                <mat-radio-button value="yes">Yes</mat-radio-button>
                                <mat-radio-button value="no">No</mat-radio-button>
                              </mat-radio-group>
                            </div>
                          </div>

                        <div *ngIf="isNextKinPresent" class="grid grid-cols-2 gap-4 w-full">
                            <mat-form-field class="gt-xs:pr-3 flex-auto">
                                <input matInput [formControlName]="'kinFirstName'" [placeholder]="'First name'"
                                     />
                                <mat-icon class="icon-size-5" matPrefix
                                    [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                            </mat-form-field>
                            <mat-form-field class="gt-xs:pl-3 flex-auto">
                                <input matInput [formControlName]="'kinLastName'" [placeholder]="'Last name'"
                                     />
                                <mat-icon class="icon-size-5" matPrefix
                                    [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                            </mat-form-field>
                            <mat-form-field class="gt-xs:pr-3 flex-auto">
                                <mat-select [formControlName]="'kinRelationship'" [placeholder]="'Relationship'"
                                    >
                                    <mat-option value="relationship-1">Relationship 1</mat-option>
                                    <mat-option value="relationship-2">Relationship 2</mat-option>
                                    <mat-option value="relationship-3">Relationship 3</mat-option>
                                </mat-select>
                                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:users'"></mat-icon>
                            </mat-form-field>
                            <mat-form-field class="gt-xs:pr-3 flex-auto">
                                <input matInput [formControlName]="'kinPhoneNumber'" [placeholder]="'Phone number'"
                                     />
                                <mat-icon class="icon-size-5" matPrefix
                                    [svgIcon]="'heroicons_solid:phone-arrow-up-right'"></mat-icon>
                            </mat-form-field>
                        </div>

                        <!-- VILLAGE Chairperson -->
                        <div class="grid grid-cols-2 gap-4 w-full">
                            <mat-form-field class="gt-xs:pr-3 flex-auto">
                                <input matInput [formControlName]="'chairNames'"
                                    [placeholder]="'Village / Street Chairperson'" required />
                                <mat-icon class="icon-size-5" matPrefix
                                    [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                            </mat-form-field>
                            <mat-form-field class="gt-xs:pr-3 flex-auto">
                                <input matInput [formControlName]="'chairPhoneNumber'"
                                    [placeholder]="'Chairperson Phone Number'" required />
                                <mat-icon class="icon-size-5" matPrefix
                                    [svgIcon]="'heroicons_solid:phone-arrow-up-right'"></mat-icon>
                            </mat-form-field>
                        </div>

                        <div class="flex justify-end">
                            <button class="mr-2 px-8" mat-flat-button [color]="'accent'" type="button"
                                matStepperPrevious>
                                Back
                            </button>
                            <button class="px-8" mat-flat-button [color]="'primary'" [disabled]="
                                      horizontalStepperStep2.stepControl
                                          .pristine ||
                                      horizontalStepperStep2.stepControl.invalid
                                  " type="button" matStepperNext>
                                Next
                            </button>
                        </div>
                    </mat-step>

                    <mat-step>
                        <ng-template matStepLabel>Done</ng-template>
                        <p class="my-6 font-medium">
                            Thank you for completing our form! You can reset the
                            form if you would like to change your information.
                        </p>
                        <div class="mt-8 flex justify-end">
                            <button class="mr-2 px-8" mat-flat-button [color]="'accent'" type="button"
                                matStepperPrevious>
                                Back
                            </button>
                            <button class="mr-2 px-8" mat-flat-button [color]="'warn'" type="reset"
                                (click)="horizontalStepper.reset()">
                                Reset
                            </button>
                            <button class="px-8" mat-flat-button [color]="'primary'" (click)="openConfirmationDialog()">
                                Save
                            </button>
                        </div>
                    </mat-step>
                </mat-horizontal-stepper>
            </form>

        </div>
    </div>
</div>