<div class="flex min-w-0 flex-auto flex-col">
      <!-- Header -->
      <div
          class="bg-card flex flex-0 flex-col border-b p-6 dark:bg-transparent sm:flex-row sm:items-center sm:justify-between sm:px-10 sm:py-8"
      >
          <div class="min-w-0 flex-1">
              <!-- Breadcrumbs -->
              <div class="flex flex-wrap items-center font-medium">
                  <div>
                      <a class="whitespace-nowrap text-primary-500"
                          >Nurses</a
                      >
                  </div>
                  <div class="ml-1 flex items-center whitespace-nowrap">
                      <mat-icon
                          class="text-secondary icon-size-5"
                          [svgIcon]="'heroicons_mini:chevron-right'"
                      ></mat-icon>
                      <a class="ml-1 text-primary-500">Module</a>
                  </div>
              </div>
              <!-- Title -->
              <div class="mt-2">
                  <h2
                      class="truncate text-3xl font-extrabold leading-7 tracking-tight sm:leading-10 md:text-4xl"
                  >
                      Nurse service
                  </h2>
              </div>
          </div>
      </div>
  
      <!-- Main -->
      <div class="flex-auto p-6 sm:p-10">
          <div class="max-w-full">
  
              <!-- Horizontal stepper -->
  
              <form
                  class="bg-card overflow-hidden rounded p-4 shadow"
                  [formGroup]="horizontalStepperForm"
              >
                  <mat-horizontal-stepper [linear]="true" #horizontalStepper>
                      <mat-step
                          [formGroupName]="'step1'"
                          [stepControl]="horizontalStepperForm.get('step1')"
                          #horizontalStepperStep1
                      >
                          <ng-template matStepLabel
                              >Vitals</ng-template
                          >
                          <p class="my-6 font-medium">
                            Please fill out this nurse form with the required information
                          </p>
                          <!-- VITALS -->
                        <div class="grid grid-cols-2 gap-4 w-full">
                            <mat-form-field class="gt-xs:pr-3 flex-auto">
                                <input matInput [formControlName]="'weight'" [placeholder]="'Weight'" required />
                                <mat-icon class="icon-size-5" matPrefix
                                    [svgIcon]="'heroicons_solid:information-circle'"></mat-icon>
                            </mat-form-field>
                            <mat-form-field class="gt-xs:pr-3 flex-auto">
                                <input matInput [formControlName]="'height'" [placeholder]="'Height'"
                                    required />
                                <mat-icon class="icon-size-5" matPrefix
                                    [svgIcon]="'heroicons_solid:information-circle'"></mat-icon>
                            </mat-form-field>
                            <mat-form-field class="gt-xs:pl-3 flex-auto">
                                <input matInput [formControlName]="'bmi'" [placeholder]="'Body Mass Index (BMI)'" required />
                                <mat-icon class="icon-size-5" matPrefix
                                    [svgIcon]="'heroicons_solid:information-circle'"></mat-icon>
                            </mat-form-field>
                            <mat-form-field class="gt-xs:pl-3 flex-auto">
                                <input matInput [formControlName]="'pulseRate'" [placeholder]="'Pulse Rate'" required />
                                <mat-icon class="icon-size-5" matPrefix
                                    [svgIcon]="'heroicons_solid:information-circle'"></mat-icon>
                            </mat-form-field>
                            <mat-form-field class="gt-xs:pl-3 flex-auto">
                                <input matInput [formControlName]="'systolic'" [placeholder]="'Systolic (Blood Pressure)'" required />
                                <mat-icon class="icon-size-5" matPrefix
                                    [svgIcon]="'heroicons_solid:information-circle'"></mat-icon>
                            </mat-form-field>
                            <mat-form-field class="gt-xs:pl-3 flex-auto">
                                <input matInput [formControlName]="'diastolic'" [placeholder]="'Diastolic(Blood Pressure)'" required />
                                <mat-icon class="icon-size-5" matPrefix
                                    [svgIcon]="'heroicons_solid:information-circle'"></mat-icon>
                            </mat-form-field>
                            <mat-form-field class="gt-xs:pl-3 flex-auto">
                                <input matInput [formControlName]="'temperature'" [placeholder]="'Temperature'" required />
                                <mat-icon class="icon-size-5" matPrefix
                                    [svgIcon]="'heroicons_solid:information-circle'"></mat-icon>
                            </mat-form-field>
                            <mat-form-field class="gt-xs:pl-3 flex-auto">
                                <input matInput [formControlName]="'respirationRate'" [placeholder]="'Respiration Rate'" required />
                                <mat-icon class="icon-size-5" matPrefix
                                    [svgIcon]="'heroicons_solid:information-circle'"></mat-icon>
                            </mat-form-field>
                            <div class="flex">
                                <mat-form-field class="flex-auto">
                                    <mat-label>Note</mat-label>
                                    <textarea matInput [formControlName]="'nursingNotes'" [placeholder]="'Nursing Notes'" cdkTextareaAutosize [cdkAutosizeMinRows]="3"></textarea>
                                    <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:book-open'"></mat-icon>
                                </mat-form-field>
                            </div>
                        </div>
                          <div class="flex justify-end">
                              <button
                                  class="px-8"
                                  mat-flat-button
                                  [color]="'primary'"
                                  [disabled]="
                                      horizontalStepperStep1.stepControl
                                          .pristine ||
                                      horizontalStepperStep1.stepControl.invalid
                                  "
                                  type="button"
                                  matStepperNext
                              >
                                  Next
                              </button>
                          </div>
                      </mat-step>
  
                      <mat-step
                          [formGroupName]="'step2'"
                          [stepControl]="horizontalStepperForm.get('step2')"
                          #horizontalStepperStep2
                      >
                          <ng-template matStepLabel>Medication Given</ng-template>
                          <p class="my-6 font-medium">
                              People here will get to know you with this
                              information
                          </p>
                           <!-- MEDICATION -->
                        <div class="grid grid-cols-2 gap-4 w-full">
                            <mat-form-field class="gt-xs:pr-3 flex-auto">
                                <mat-select [formControlName]="'medicationType'" [placeholder]="'Client medication type'"
                                    >
                                    <mat-option value="medication-1">Medication 1</mat-option>
                                    <mat-option value="medication-2">Medication 2</mat-option>
                                    <mat-option value="medication-3">Medication 3</mat-option>
                                </mat-select>
                                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:book-open'"></mat-icon>
                            </mat-form-field>

                            <mat-form-field class="gt-xs:pr-3 flex-auto">
                                <mat-select [formControlName]="'drugFrequency'" [placeholder]="'Drug Frequency (hourly)'"
                                    >
                                    <mat-option value="frequency-1">Frequency 1</mat-option>
                                    <mat-option value="frequency-2">Frequency 2</mat-option>
                                    <mat-option value="frequency-3">Frequency 3</mat-option>
                                </mat-select>
                                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:book-open'"></mat-icon>
                            </mat-form-field>

                            <mat-form-field class="gt-xs:pr-3 flex-auto">
                                <input matInput [formControlName]="'drugDose'" [placeholder]="'Drug Dose'"
                                    required />
                                <mat-icon class="icon-size-5" matPrefix
                                    [svgIcon]="'heroicons_solid:information-circle'"></mat-icon>
                            </mat-form-field>

                            <mat-form-field class="gt-xs:pr-3 flex-auto">
                                <mat-select [formControlName]="'consumableUsed'" [placeholder]="'Consumable used'"
                                    >
                                    <mat-option value="Consumable-1">Consumable 1</mat-option>
                                    <mat-option value="Consumable-2">Consumable 2</mat-option>
                                    <mat-option value="Consumable-3">Consumable 3</mat-option>
                                </mat-select>
                                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:book-open'"></mat-icon>
                            </mat-form-field>

                            <mat-form-field class="gt-xs:pl-3 flex-auto">
                                <input matInput [formControlName]="'consumableQuantity'" [placeholder]="'Consumable quantity used'" required />
                                <mat-icon class="icon-size-5" matPrefix
                                    [svgIcon]="'heroicons_solid:information-circle'"></mat-icon>
                            </mat-form-field>

                            <div class="flex">
                                <mat-form-field class="flex-auto">
                                    <mat-label>Nursing Note</mat-label>
                                    <textarea matInput [formControlName]="'nursingNotes2'" [placeholder]="'Nursing Notes'" cdkTextareaAutosize [cdkAutosizeMinRows]="3"></textarea>
                                    <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:book-open'"></mat-icon>
                                </mat-form-field>
                            </div>
                        </div>

                          <div class="flex justify-end">
                              <button
                                  class="mr-2 px-8"
                                  mat-flat-button
                                  [color]="'accent'"
                                  type="button"
                                  matStepperPrevious
                              >
                                  Back
                              </button>
                              <button
                                  class="px-8"
                                  mat-flat-button
                                  [color]="'primary'"
                                  [disabled]="
                                      horizontalStepperStep2.stepControl
                                          .pristine ||
                                      horizontalStepperStep2.stepControl.invalid
                                  "
                                  type="button"
                                  matStepperNext
                              >
                                  Next
                              </button>
                          </div>
                      </mat-step>
  
                      <mat-step
                          [formGroupName]="'step3'"
                          [stepControl]="horizontalStepperForm.get('step3')"
                      >
                          <ng-template matStepLabel>Procedure</ng-template>
                          <p class="my-6 font-medium">
                              We'll always let you know about important changes,
                              but you pick what else you want to hear about.
                          </p>
                          
                        <!-- MEDICATION -->
                        <div class="grid grid-cols-2 gap-4 w-full">
                            <mat-form-field class="gt-xs:pr-3 flex-auto">
                                <mat-select [formControlName]="'medicationType2'" [placeholder]="'Client Procedure'"
                                    >
                                    <mat-option value="Procedure-1">Procedure 1</mat-option>
                                    <mat-option value="Procedure-2">Procedure 2</mat-option>
                                    <mat-option value="Procedure-3">Procedure 3</mat-option>
                                </mat-select>
                                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:book-open'"></mat-icon>
                            </mat-form-field>

                            <mat-form-field class="gt-xs:pr-3 flex-auto">
                                <mat-select [formControlName]="'consumableUsed2'" [placeholder]="'Consumable used'"
                                    >
                                    <mat-option value="Consumable-1">Consumable 1</mat-option>
                                    <mat-option value="Consumable-2">Consumable 2</mat-option>
                                    <mat-option value="Consumable-3">Consumable 3</mat-option>
                                </mat-select>
                                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:book-open'"></mat-icon>
                            </mat-form-field>

                            <mat-form-field class="gt-xs:pl-3 flex-auto">
                                <input matInput [formControlName]="'consumableQuantity2'" [placeholder]="'Consumable quantity used'" required />
                                <mat-icon class="icon-size-5" matPrefix
                                    [svgIcon]="'heroicons_solid:information-circle'"></mat-icon>
                            </mat-form-field>

                            <div class="flex">
                                <mat-form-field class="flex-auto">
                                    <mat-label>Nursing Note</mat-label>
                                    <textarea matInput [formControlName]="'nursingNotes3'" [placeholder]="'Nursing Notes'" cdkTextareaAutosize [cdkAutosizeMinRows]="3"></textarea>
                                    <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:book-open'"></mat-icon>
                                </mat-form-field>
                            </div>
                        </div>

                          <div class="mt-8 flex justify-end">
                              <button
                                  class="mr-2 px-8"
                                  mat-flat-button
                                  [color]="'accent'"
                                  type="button"
                                  matStepperPrevious
                              >
                                  Back
                              </button>
                              <button
                                  class="px-8"
                                  mat-flat-button
                                  [color]="'primary'"
                                  type="button"
                              >
                                  Save
                              </button>
                          </div>
                      </mat-step>

                  </mat-horizontal-stepper>
              </form>
  
          </div>
      </div>
  </div>
  