<div
    class="flex flex-row items-center justify-between hover:cursor-pointer text-lg font-medium bg-primary text-primary px-8 py-6">
    <div class="text-white">
        <div class="justify-self-end font-medium">
            Full Name: Samjk Thomas
        </div>
        <div class="justify-self-end font-medium">
            Test: Test Name Order
        </div>
    </div>
    <div class="text-xl text-primary-300">Sample Collection</div>
</div>
<mat-dialog-content>
    <form class="bg-card mt-8 flex flex-col overflow-hidden rounded-2xl p-8 pb-4 shadow">
        <div class="gt-xs:flex-row flex flex-col">
            <mat-form-field class="gt-xs:pr-3 flex-auto">
                <mat-label>Type of Sample</mat-label>
                <mat-select [placeholder]="'Type of Sample'">
                    <mat-option value="sample-1">Sample 1</mat-option>
                    <mat-option value="sample-2">Sample 2</mat-option>
                    <mat-option value="sample-3">Sample 3</mat-option>
                </mat-select>
                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:beaker'"></mat-icon>
            </mat-form-field>

            <mat-form-field class="gt-xs:pr-3 flex-auto">
                <mat-label>Department</mat-label>
                <mat-select [placeholder]="'Department'">
                    <mat-option value="department-1">Department 1</mat-option>
                    <mat-option value="department-2">Department 2</mat-option>
                    <mat-option value="department-3">Department 3</mat-option>
                </mat-select>
                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:building-office'"></mat-icon>
            </mat-form-field>

            <mat-form-field class="gt-xs:pr-3 flex-auto">
                <mat-label>Sample collected By</mat-label>
                <mat-select [placeholder]="'Sample collected By'">
                    <mat-option value="person-1">Person 1</mat-option>
                    <mat-option value="person-2">Person 2</mat-option>
                    <mat-option value="person-3">Person 3</mat-option>
                </mat-select>
                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:user'"></mat-icon>
            </mat-form-field>

            <mat-form-field color="accent" appearance="outline" class="w-full">
                <mat-label>Receiving Date</mat-label>
                <input matInput [matDatepicker]="picker2" readonly>
                <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
                <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2 color="primary">
                    <mat-datepicker-actions>
                        <button mat-button matDatepickerCancel>Cancel</button>
                        <button mat-raised-button color="primary" matDatepickerApply>OK</button>
                    </mat-datepicker-actions>
                </mat-datepicker>
            </mat-form-field>

            <div class="flex flex-col w-full my-3">
                <label id="radio-kin">Sample transportation condition</label>
                <mat-radio-group aria-labelledby="radio-kin">
                    <mat-radio-button value="good">Good</mat-radio-button>
                    <mat-radio-button value="poor">Poor</mat-radio-button>
                </mat-radio-group>
            </div>

            <div class="flex flex-col w-full my-3">
                <label id="radio-kin">Does the sample meets criteria</label>
                <mat-radio-group aria-labelledby="radio-kin">
                    <mat-radio-button value="yes">Yes</mat-radio-button>
                    <mat-radio-button value="no">No</mat-radio-button>
                </mat-radio-group>
            </div>

            <mat-form-field class="gt-xs:pr-3 flex-auto">
                <mat-label>Rejection Criteria</mat-label>
                <mat-select [placeholder]="'Rejection Criteria'">
                    <mat-option value="rejection-1">Rejection 1</mat-option>
                    <mat-option value="rejection-2">Rejection 2</mat-option>
                    <mat-option value="rejection-3">Rejection 3</mat-option>
                </mat-select>
                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:question-mark-circle'"></mat-icon>
            </mat-form-field>

            <div class="flex">
                <mat-form-field class="flex-auto">
                    <mat-label>Note</mat-label>
                    <textarea matInput cdkTextareaAutosize [cdkAutosizeMinRows]="3"></textarea>
                    <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:book-open'"></mat-icon>
                </mat-form-field>
            </div>
        </div>

    </form>
</mat-dialog-content>
<!-- <button mat-button mat-dialog-close>Close</button> -->
<div
    class="flex items-center justify-center space-x-3 bg-gray-50 px-6 py-4 dark:bg-black dark:bg-opacity-10 sm:justify-end">
    <!-- Cancel -->
    <button mat-stroked-button [matDialogClose]="'cancelled'">
        Cancel
    </button>

    <!-- Confirm -->
    <button mat-flat-button [color]="'primary'" [matDialogClose]="'confirmed'">
        Submit
    </button>

</div>