<div class="flex min-w-0 flex-auto flex-col">
    <!-- Header -->
    <div
        class="bg-card flex flex-0 flex-col border-b p-6 dark:bg-transparent sm:flex-row sm:items-center sm:justify-between sm:px-10 sm:py-8">
        <div class="min-w-0 flex-1">
            <!-- Breadcrumbs -->
            <div class="flex flex-wrap items-center font-medium">
                <div>
                    <a class="whitespace-nowrap text-primary-500">Doctor</a>
                </div>
                <div class="ml-1 flex items-center whitespace-nowrap">
                    <mat-icon class="text-secondary icon-size-5" [svgIcon]="'heroicons_mini:chevron-right'"></mat-icon>
                    <a class="ml-1 text-primary-500">Service</a>
                </div>
            </div>
            <!-- Title -->
            <div class="mt-2">
                <h2 class="truncate text-3xl font-extrabold leading-7 tracking-tight sm:leading-10 md:text-4xl">
                    Doctor Service
                </h2>
            </div>
        </div>
    </div>

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">
        <div class="max-w-full">

            <!-- Horizontal stepper -->

            <form class="bg-card overflow-hidden rounded p-4 shadow" [formGroup]="horizontalStepperForm">
                <mat-horizontal-stepper [linear]="true" #horizontalStepper>
                    <mat-step [formGroupName]="'step1'" [stepControl]="horizontalStepperForm.get('step1')"
                        #horizontalStepperStep1>
                        <ng-template matStepLabel>Client History</ng-template>
                        <p class="my-6 font-medium">
                            Fill in your basic information to let us know your
                            preferences
                        </p>
                        <!-- Client History -->
                        <div class="grid grid-cols-2 gap-4 w-full">
                            <div class="flex">
                                <mat-form-field class="flex-auto">
                                    <mat-label>Client chief Complain</mat-label>
                                    <textarea matInput [formControlName]="'clientComplain'"
                                        [placeholder]="'Client chief Complain'" cdkTextareaAutosize
                                        [cdkAutosizeMinRows]="3"></textarea>
                                    <mat-icon class="icon-size-5" matSuffix
                                        [svgIcon]="'heroicons_solid:book-open'"></mat-icon>
                                </mat-form-field>
                            </div>
                            <div class="flex">
                                <mat-form-field class="flex-auto">
                                    <mat-label>History of the present illness</mat-label>
                                    <textarea matInput [formControlName]="'illnessHistory'"
                                        [placeholder]="'History of the present illness'" cdkTextareaAutosize
                                        [cdkAutosizeMinRows]="3"></textarea>
                                    <mat-icon class="icon-size-5" matSuffix
                                        [svgIcon]="'heroicons_solid:book-open'"></mat-icon>
                                </mat-form-field>
                            </div>
                            <div class="flex">
                                <mat-form-field class="flex-auto">
                                    <mat-label>Client past medical history</mat-label>
                                    <textarea matInput [formControlName]="'medicalHistory'"
                                        [placeholder]="'Client past medical history'" cdkTextareaAutosize
                                        [cdkAutosizeMinRows]="3"></textarea>
                                    <mat-icon class="icon-size-5" matSuffix
                                        [svgIcon]="'heroicons_solid:book-open'"></mat-icon>
                                </mat-form-field>
                            </div>
                            <div class="flex">
                                <mat-form-field class="flex-auto">
                                    <mat-label>Client social and family history?</mat-label>
                                    <textarea matInput [formControlName]="'familyHistory'"
                                        [placeholder]="'Client  social and family history?'" cdkTextareaAutosize
                                        [cdkAutosizeMinRows]="3"></textarea>
                                    <mat-icon class="icon-size-5" matSuffix
                                        [svgIcon]="'heroicons_solid:book-open'"></mat-icon>
                                </mat-form-field>
                            </div>
                            <div class="flex">
                                <mat-form-field class="flex-auto">
                                    <mat-label>Client Examination</mat-label>
                                    <textarea matInput [formControlName]="'clientExamination'"
                                        [placeholder]="'Client Examination'" cdkTextareaAutosize
                                        [cdkAutosizeMinRows]="3"></textarea>
                                    <mat-icon class="icon-size-5" matSuffix
                                        [svgIcon]="'heroicons_solid:book-open'"></mat-icon>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="flex justify-end">
                            <button class="px-8" mat-flat-button [color]="'primary'" [disabled]="
                                      horizontalStepperStep1.stepControl
                                          .pristine ||
                                      horizontalStepperStep1.stepControl.invalid
                                  " type="button" matStepperNext>
                                Next
                            </button>
                        </div>
                    </mat-step>

                    <mat-step [formGroupName]="'step2'" [stepControl]="horizontalStepperForm.get('step2')"
                        #horizontalStepperStep2>
                        <ng-template matStepLabel>Diagnostic test</ng-template>
                        <p class="my-6 font-medium">
                            People here will get to know you with this
                            information
                        </p>
                        <!-- Diagnosis Test -->
                        <div class="grid grid-cols-2 gap-4 w-full">
                            <div>
                                <div class="flex flex-col w-full my-3">
                                    <label id="radio-kin">Does the client have Provisional diagnosis?</label>
                                    <mat-radio-group aria-labelledby="radio-kin"
                                        [formControlName]="'provisionalDiagnosis'" required>
                                        <mat-radio-button value="yes">Yes</mat-radio-button>
                                        <mat-radio-button value="no">No</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>

                            <mat-form-field class="gt-xs:pr-3 flex-auto">
                                <mat-select [formControlName]="'diagnosis'"
                                    [placeholder]="'Client Provisional Diagnosis'">
                                    <mat-option value="Diagnosis-1">Diagnosis 1</mat-option>
                                    <mat-option value="Diagnosis-2">Diagnosis 2</mat-option>
                                    <mat-option value="Diagnosis-3">Diagnosis 3</mat-option>
                                </mat-select>
                                <mat-icon class="icon-size-5" matPrefix
                                    [svgIcon]="'heroicons_solid:book-open'"></mat-icon>
                            </mat-form-field>

                            <div class="flex">
                                <mat-form-field class="flex-auto">
                                    <mat-label>Doctors Notes</mat-label>
                                    <textarea matInput [formControlName]="'doctorsNotes'"
                                        [placeholder]="'Doctors  Notes'" cdkTextareaAutosize
                                        [cdkAutosizeMinRows]="3"></textarea>
                                    <mat-icon class="icon-size-5" matSuffix
                                        [svgIcon]="'heroicons_solid:book-open'"></mat-icon>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="flex justify-end">
                            <button class="mr-2 px-8" mat-flat-button [color]="'accent'" type="button"
                                matStepperPrevious>
                                Back
                            </button>
                            <button class="px-8" mat-flat-button [color]="'primary'" [disabled]="
                                      horizontalStepperStep2.stepControl
                                          .pristine ||
                                      horizontalStepperStep2.stepControl.invalid
                                  " type="button" matStepperNext>
                                Next
                            </button>
                        </div>
                    </mat-step>

                    <mat-step [formGroupName]="'step3'" [stepControl]="horizontalStepperForm.get('step3')">
                        <ng-template matStepLabel>Diagnosis</ng-template>
                        <p class="my-6 font-medium">
                            We'll always let you know about important changes,
                            but you pick what else you want to hear about.
                        </p>
                        <!-- Diagnosis -->
                        <div class="grid grid-cols-2 gap-4 w-full">
                            <div class="flex flex-col w-full my-3">
                                <label id="radio-kin">Does the client need another diagnostic test ?</label>
                                <mat-radio-group aria-labelledby="radio-kin" [formControlName]="'anotherDiagnostic'"
                                    required>
                                    <mat-radio-button value="yes">Yes</mat-radio-button>
                                    <mat-radio-button value="no">No</mat-radio-button>
                                </mat-radio-group>
                            </div>

                            <div class="flex flex-col w-full my-3">
                                <label id="radio-kin">Does the client need radiology test ?</label>
                                <mat-radio-group aria-labelledby="radio-kin" [formControlName]="'radiologyTest'"
                                    required>
                                    <mat-radio-button value="yes">Yes</mat-radio-button>
                                    <mat-radio-button value="no">No</mat-radio-button>
                                </mat-radio-group>
                            </div>

                            <div class="flex flex-col w-full my-3">
                                <label id="radio-kin">Does the client need Laboratory test ?</label>
                                <mat-radio-group aria-labelledby="radio-kin" [formControlName]="'laboratoryTest'"
                                    required>
                                    <mat-radio-button value="yes">Yes</mat-radio-button>
                                    <mat-radio-button value="no">No</mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>
                        <div class="mt-8 flex justify-end">
                            <button class="mr-2 px-8" mat-flat-button [color]="'accent'" type="button"
                                matStepperPrevious>
                                Back
                            </button>
                            <button class="px-8" mat-flat-button [color]="'primary'" type="button" matStepperNext>
                                Next
                            </button>
                        </div>
                    </mat-step>

                    <mat-step [formGroupName]="'step4'" [stepControl]="horizontalStepperForm.get('step4')">
                        <ng-template matStepLabel>Treatment</ng-template>
                        <p class="my-6 font-medium">
                            Please fill out this  form with the required information
                        </p>
                        <!-- Diagnosis -->
                        <div class="grid grid-cols-2 gap-4 w-full">
                            <mat-form-field class="gt-xs:pr-3 flex-auto">
                                <mat-select [formControlName]="'treatmentPlan'" [placeholder]="'Client treatment plan'"
                                    >
                                    <mat-option value="treatment-1">treatment 1</mat-option>
                                    <mat-option value="treatment-2">treatment 2</mat-option>
                                    <mat-option value="treatment-3">treatment 3</mat-option>
                                </mat-select>
                                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:book-open'"></mat-icon>
                            </mat-form-field>

                            <mat-form-field class="gt-xs:pr-3 flex-auto">
                                <mat-select [formControlName]="'conservativeManagement'" [placeholder]="'Client conservative management'"
                                    >
                                    <mat-option value="conservative-1">conservative 1</mat-option>
                                    <mat-option value="conservative-2">conservative 2</mat-option>
                                    <mat-option value="conservative-3">conservative 3</mat-option>
                                </mat-select>
                                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:book-open'"></mat-icon>
                            </mat-form-field>

                            <mat-form-field class="gt-xs:pr-3 flex-auto">
                                <mat-select [formControlName]="'consumableUsed'" [placeholder]="'Consumable used'"
                                    >
                                    <mat-option value="Consumable-1">Consumable 1</mat-option>
                                    <mat-option value="Consumable-2">Consumable 2</mat-option>
                                    <mat-option value="Consumable-3">Consumable 3</mat-option>
                                </mat-select>
                                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:book-open'"></mat-icon>
                            </mat-form-field>

                            <mat-form-field class="gt-xs:pl-3 flex-auto">
                                <input matInput [formControlName]="'consumableQuantity'" [placeholder]="'Consumable quantity used'" required />
                                <mat-icon class="icon-size-5" matPrefix
                                    [svgIcon]="'heroicons_solid:information-circle'"></mat-icon>
                            </mat-form-field>

                        </div>
                        <div class="mt-8 flex justify-end">
                            <button class="mr-2 px-8" mat-flat-button [color]="'accent'" type="button"
                                matStepperPrevious>
                                Back
                            </button>
                            <button class="px-8" mat-flat-button [color]="'primary'" type="button">
                                Save
                            </button>
                        </div>
                    </mat-step>

                </mat-horizontal-stepper>
            </form>

        </div>
    </div>
</div>