<div class="flex min-w-0 flex-auto flex-col">
    <!-- Header -->
    <div
        class="bg-card flex flex-0 flex-col border-b p-6 dark:bg-transparent sm:flex-row sm:items-center sm:justify-between sm:px-10 sm:py-8"
    >
        <div class="min-w-0 flex-1">
            <!-- Breadcrumbs -->
            <div class="flex flex-wrap items-center font-medium">
                <div>
                    <a class="whitespace-nowrap text-primary-500">Project</a>
                </div>
                <div class="ml-1 flex items-center whitespace-nowrap">
                    <mat-icon
                        class="text-secondary icon-size-5"
                        [svgIcon]="'heroicons_mini:chevron-right'"
                    ></mat-icon>
                    <a class="ml-1 text-primary-500">Concept Note</a>
                </div>
            </div>
            <!-- Title -->
            <div class="mt-2">
                <h2
                    class="truncate text-3xl font-extrabold leading-7 tracking-tight sm:leading-10 md:text-4xl"
                >
                    Concept Note
                </h2>
            </div>
        </div>

        <!-- Close Icon (Right End) -->
        <button
            mat-icon-button
            (click)="onClose()"
            class="bg-red-600 text-white hover:text-red-900"
        >
            <mat-icon
                class="text-white"
                [svgIcon]="'heroicons_outline:x-mark'"
            ></mat-icon>
        </button>
    </div>

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">
        <div class="max-w-full">

            <div class="mb-8 text-3xl font-bold">Add Concept Note</div>
            <!-- FORM -->
            <form [formGroup]="conceptNoteForm">
                <div class="bg-card overflow-hidden rounded p-4 shadow">
                    
                  <div class="w-full">
                        <mat-form-field class="w-full">
                            <mat-label class="text-lg font-bold"
                                >Project Name</mat-label
                            >
                            <input
                                matInput
                                [formControlName]="'project_name'"
                                [placeholder]="'Project Name'"
                                required
                                appUppercase
                            />
                            <mat-icon
                                class="icon-size-5"
                                matPrefix
                                [svgIcon]="'heroicons_solid:pencil'"
                            ></mat-icon>
                        </mat-form-field>
                    </div>

                    <div class="grid w-full grid-cols-2 gap-4">
                        <mat-form-field class="gt-xs:pr-3 flex-auto">
                            <mat-label>Programme Name</mat-label>
                            <input
                                matInput
                                [formControlName]="'programme'"
                                [placeholder]="'Programme Name'"
                            />
                            <mat-icon
                                class="icon-size-5"
                                matPrefix
                                [svgIcon]="'heroicons_solid:pencil'"
                            ></mat-icon>
                        </mat-form-field>

                        <mat-form-field class="gt-xs:pr-3 flex-auto">
                            <mat-label>Project Nature</mat-label>
                            <mat-select
                                [formControlName]="'project_nature'"
                                [placeholder]="'Project Nature'"
                            >
                                <mat-option value="CONSTRUCTION"
                                    >CONSTRUCTION</mat-option
                                >
                                <mat-option value="IT_SOFTWARE"
                                    >IT SOFTWARE</mat-option
                                >
                                <mat-option value="RESEARCH_DEVELOPMENT"
                                    >RESEARCH DEVELOPMENT</mat-option
                                >
                                <mat-option value="ENVIRONMENTAL"
                                    >ENVIRONMENTAL</mat-option
                                >
                                <mat-option value="SERVICE_BASED"
                                    >SERVICE BASED</mat-option
                                >
                                <mat-option value="FINANCIAL"
                                    >FINANCIAL</mat-option
                                >
                                <mat-option value="COMMUNITY"
                                    >COMMUNITY</mat-option
                                >
                                <mat-option value="MARKETING"
                                    >MARKETING</mat-option
                                >
                                
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="w-full">
                            <mat-label>Project Description</mat-label>
                            <textarea
                                matInput
                                formControlName="project_description"
                                rows="6"
                                placeholder="Write your Project Description here..."
                                appCapitalizeFirstLetter
                            ></textarea>

                            <mat-error
                                *ngIf="
                                    conceptNoteForm
                                        .get('description')
                                        ?.hasError('minlength')
                                "
                            >
                                Description must be at least 20 characters.
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="w-full">
                            <mat-label>Project Background</mat-label>
                            <textarea
                                matInput
                                formControlName="project_background"
                                rows="6"
                                placeholder="Write your Project Background here..."
                                appCapitalizeFirstLetter
                            ></textarea>

                            <mat-error
                                *ngIf="
                                    conceptNoteForm
                                        .get('background')
                                        ?.hasError('minlength')
                                "
                            >
                                Background must be at least 20 characters.
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field
                            color="accent"
                            appearance="outline"
                            class="w-full"
                        >
                            <mat-label>Expected Start Date</mat-label>
                            <input
                                matInput
                                [matDatepicker]="picker1"
                                [formControlName]="'exp_start_date'"
                                readonly
                            />
                            <mat-hint>MM/DD/YYYY</mat-hint>
                            <mat-datepicker-toggle
                                matIconSuffix
                                [for]="picker1"
                            ></mat-datepicker-toggle>
                            <mat-datepicker #picker1 color="primary">
                                <mat-datepicker-actions>
                                    <button mat-button matDatepickerCancel>
                                        Cancel
                                    </button>
                                    <button
                                        mat-raised-button
                                        color="primary"
                                        matDatepickerApply
                                    >
                                        OK
                                    </button>
                                </mat-datepicker-actions>
                            </mat-datepicker>
                        </mat-form-field>

                        <mat-form-field
                            color="accent"
                            appearance="outline"
                            class="w-full"
                        >
                            <mat-label>Expected Completion Date</mat-label>
                            <input
                                matInput
                                [matDatepicker]="picker2"
                                formControlName="exp_completion_date"
                                readonly
                            />
                            <mat-hint>MM/DD/YYYY</mat-hint>
                            <mat-datepicker-toggle
                                matIconSuffix
                                [for]="picker2"
                            ></mat-datepicker-toggle>
                            <mat-datepicker
                                #picker2
                                color="primary"
                                (closed)="calculateYearDifference()"
                            >
                                <mat-datepicker-actions>
                                    <button mat-button matDatepickerCancel>
                                        Cancel
                                    </button>
                                    <button
                                        mat-raised-button
                                        color="primary"
                                        matDatepickerApply
                                    >
                                        OK
                                    </button>
                                </mat-datepicker-actions>
                            </mat-datepicker>
                        </mat-form-field>

                        <mat-form-field class="gt-xs:pr-3 flex-auto">
                            <mat-label>Select Sector</mat-label>
                            <mat-select
                                [formControlName]="'sector'"
                                [placeholder]="'Sector'"
                                (selectionChange)="onSectorSelected($event)"
                            >
                            @for (
                                sector of sectors;
                                track sector
                                ) {
                                <mat-option [value]="sector.id">{{
                                    sector.name
                                    }}</mat-option>
                                } @empty {
                                <li>There are no items.</li>
                                }
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="gt-xs:pr-3 flex-auto">
                            <mat-label>Select Sub Sector</mat-label>
                            <mat-select
                                [formControlName]="'subsector'"
                                [placeholder]="'Sub Sector'"
                            >
                            @for (
                                subsector of subsectors;
                                track subsector
                                ) {
                                <mat-option [value]="subsector.id">{{
                                    subsector.name
                                    }}</mat-option>
                                } @empty {
                                <li>There are no items.</li>
                                }
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="gt-xs:pr-3 flex-auto">
                            <mat-label>Estimated Total Cost (Tzs)</mat-label>
                            <input
                                matInput
                                [formControlName]="'estimated_cost'"
                                [placeholder]="'Estimated Total Cost (Tzs)'"
                                required
                                appOnlyNumbers
                                appNumericFormat
                            />
                            <mat-icon
                                class="icon-size-5"
                                matPrefix
                                [svgIcon]="'heroicons_solid:pencil'"
                            ></mat-icon>
                        </mat-form-field>

                        <mat-form-field class="gt-xs:pr-3 flex-auto">
                            <mat-label>Project Life Span (Years)</mat-label>
                            <input
                                matInput
                                [formControlName]="'lifespan'"
                                [placeholder]="'Project Life Span (Years)'"
                                required
                                class="font-bold text-black"
                            />
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="w-full">
                            <mat-label>Project Objective</mat-label>
                            <textarea
                                matInput
                                formControlName="project_objective"
                                rows="6"
                                placeholder="Write your Project Background here..."
                                appCapitalizeFirstLetter
                            ></textarea>

                            <mat-error
                                *ngIf="
                                    conceptNoteForm
                                        .get('objective')
                                        ?.hasError('minlength')
                                "
                            >
                                Background must be at least 20 characters.
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="gt-xs:pr-3 flex-auto h-auto max-h-[56px]">
                            <mat-label>Cost Center</mat-label>
                            <mat-select
                                [formControlName]="'costcentre'"
                                [placeholder]="'Cost Center'"
                            >
                            @for (
                                costCenter of costCenters;
                                track costCenter
                                ) {
                                <mat-option [value]="costCenter.id">{{
                                    costCenter.description
                                    }}</mat-option>
                                } @empty {
                                <li>There are no items.</li>
                                }
                            </mat-select>
                        </mat-form-field>

                        <div class="w-full">
                            <div class="flex items-center space-x-2">
                                <input
                                    type="file"
                                    (change)="onFileSelected($event)"
                                    class="hidden"
                                    #fileInput
                                />

                                <button
                                    mat-raised-button
                                    color="primary"
                                    (click)="fileInput.click()"
                                >
                                    <mat-icon>attach_file</mat-icon> Add
                                    Attachment
                                </button>
                            </div>

                            <div
                                *ngIf="selectedFile"
                                class="mt-3 flex items-center justify-between rounded-md bg-gray-200 p-2"
                            >
                                <span class="text-sm text-gray-700">{{
                                    selectedFile.name
                                }}</span>
                                <button
                                    mat-icon-button
                                    color="warn"
                                    (click)="removeAttachment()"
                                >
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </div>
                        </div>
                    </div>

                     <!-- ACTION BUTTONS -->
                    <div class="flex justify-end">
                        <button
                            class="px-8"
                            mat-flat-button
                            [color]="'primary'"
                            type="button"
                            (click)="saveChange()"
                        >
                            Save
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
