<div
    class="flex flex-row items-center justify-between hover:cursor-pointer text-lg font-medium bg-primary text-primary px-8 py-6">
    <div class="text-white">
        <div class="justify-self-end font-medium">
            Full Name: Samjk Thomas
        </div>
        <div class="justify-self-end font-medium">
            Sample ID: 1212-121-11111
        </div>
    </div>
    <div class="text-xl text-primary-300">Histopathology</div>
</div><mat-dialog-content>
      <form
      class="bg-card mt-8 flex flex-col overflow-hidden rounded-2xl p-8 pb-4 shadow"
  >
      <div class="gt-xs:flex-row flex flex-col">
        <div class="flex">
            <mat-form-field
                class="flex-auto"
            >
                <mat-label>Macroscopic</mat-label>
                <textarea
                    matInput
                    cdkTextareaAutosize
                    [cdkAutosizeMinRows]="3"
                ></textarea>
                <mat-icon
                    class="icon-size-5"
                    matSuffix
                    [svgIcon]="'heroicons_solid:book-open'"
                ></mat-icon>
            </mat-form-field>
        </div>

        <div class="flex">
            <mat-form-field
                class="flex-auto"
            >
                <mat-label>Microscopic</mat-label>
                <textarea
                    matInput
                    cdkTextareaAutosize
                    [cdkAutosizeMinRows]="3"
                ></textarea>
                <mat-icon
                    class="icon-size-5"
                    matSuffix
                    [svgIcon]="'heroicons_solid:book-open'"
                ></mat-icon>
            </mat-form-field>
        </div>

        <mat-form-field class="gt-xs:pr-3 flex-auto">
            <mat-select [placeholder]="'Site'"
                >
                <mat-option value="Site-1">Site 1</mat-option>
                <mat-option value="Site-2">Site 2</mat-option>
                <mat-option value="Site-3">Site 3</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="gt-xs:pr-3 flex-auto">
            <mat-select [placeholder]="'Diagnosis'"
                >
                <mat-option value="Diagnosis-1">Diagnosis 1</mat-option>
                <mat-option value="Diagnosis-2">Diagnosis 2</mat-option>
                <mat-option value="Diagnosis-3">Diagnosis 3</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="gt-xs:pr-3 flex-auto">
            <mat-select [placeholder]="'IHC'"
                >
                <mat-option value="IHC-1">IHC 1</mat-option>
                <mat-option value="IHC-2">IHC 2</mat-option>
                <mat-option value="IHC-3">IHC 3</mat-option>
            </mat-select>
        </mat-form-field>

        <div class="flex">
            <mat-form-field
                class="flex-auto"
            >
                <mat-label>Comment</mat-label>
                <textarea
                    matInput
                    cdkTextareaAutosize
                    [cdkAutosizeMinRows]="3"
                ></textarea>
                <mat-icon
                    class="icon-size-5"
                    matSuffix
                    [svgIcon]="'heroicons_solid:book-open'"
                ></mat-icon>
            </mat-form-field>
        </div>
      </div>
  </form>
</mat-dialog-content>
  <!-- <button mat-button mat-dialog-close>Close</button> -->
  <div
  class="flex items-center justify-center space-x-3 bg-gray-50 px-6 py-4 dark:bg-black dark:bg-opacity-10 sm:justify-end"
>
  <!-- Cancel -->
      <button mat-stroked-button [matDialogClose]="'cancelled'">
          Cancel
      </button>

  <!-- Confirm -->
      <button
          mat-flat-button [color]="'primary'"
          [matDialogClose]="'confirmed'"
      >
          Submit
      </button>
  
</div>
