<h2 mat-dialog-title>Write A Review</h2>

<mat-dialog-content>
    <form [formGroup]="reviewForm" (ngSubmit)="onSubmit()"
        class="bg-card mt-8 flex flex-col overflow-hidden rounded-2xl p-8 pb-4 shadow">

        <div class="gt-xs:flex-row flex flex-col">

            <!-- Review -->
            <mat-form-field class="flex-auto">
                <mat-label>Review</mat-label>
                <textarea matInput formControlName="review" cdkTextareaAutosize
                    [cdkAutosizeMinRows]="4"></textarea>
                <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:book-open'"></mat-icon>
            </mat-form-field>

        </div>

        <div class="flex items-center justify-center space-x-3 bg-gray-50 px-6 py-4 sm:justify-end">
            <button mat-button (click)="onCancel()">Cancel</button>
            <button mat-button color="primary" type="submit" [disabled]="reviewForm.invalid">Submit</button>
        </div>
    </form>
</mat-dialog-content>
