<div class="flex min-w-0 flex-auto flex-col">
      <!-- Header -->
      <div class="bg-card flex flex-col shadow">
          <!-- Cover image -->
          <div class="bg-primary-50 h-20 object-cover lg:h-40">
  
          </div>
  
          <!-- User info -->
          <div
              class="bg-card mx-auto flex w-full max-w-5xl flex-0 flex-col items-center px-8 lg:h-18 lg:flex-row"
          >
              <!-- Avatar -->
              <div class="-mt-26 rounded-full lg:-mt-22">
                  <img
                      class="ring-bg-card h-32 w-32 rounded-full ring-4"
                      src="images/avatars/male-04.jpg"
                      alt="User avatar"
                  />
              </div>
  
              <!-- Details -->
              <div
                  class="mt-4 flex flex-col items-center lg:ml-8 lg:mt-0 lg:items-start"
              >
                  <div class="text-lg font-bold leading-none">Tmaris Muya</div>
              </div>
  
              <!-- Separator -->
              <div class="mx-8 hidden h-8 border-l-2 lg:flex"></div>
  
              <!-- Stats -->
              <div class="mt-6 flex items-center space-x-6 lg:mt-0">
                  <div class="flex flex-col items-center">
                      <span class="font-bold">28</span>
                      <span class="text-secondary text-sm font-medium"
                          >AGE</span
                      >
                  </div>
                  <div class="flex flex-col items-center">
                      <span class="font-bold">Male</span>
                      <span class="text-secondary text-sm font-medium"
                          >GENDER</span
                      >
                  </div>
              </div>
  
              <!-- Menu -->
              <div
                  class="mb-4 mt-8 flex items-center space-x-6 lg:m-0 lg:ml-auto"
              >
                  <button mat-flat-button (click)="addRequestingFac()" [color]="'primary'">
                    Requesting Facility
                  </button>
                  <button mat-flat-button (click)="addBillingInfo()" [color]="'primary'">
                    Add Billing Info
                  </button>
              </div>
          </div>
      </div>
  
      <!-- Main -->
      <div
          class="mx-auto flex w-full flex-auto justify-center p-6 sm:p-8"
      >
          <!-- Column -->
          <div class="mr-8 hidden flex-col items-start lg:flex">
              <!-- About me -->
              <empower-card class="flex w-full max-w-80 flex-col p-8">
                  <div class="text-2xl font-semibold leading-tight">About</div>
                  <hr class="my-6 w-full border-t" />
                  <div class="flex flex-col">
                      <div class="flex items-center">
                          <mat-icon
                              class="mr-3 icon-size-5"
                              [svgIcon]="'heroicons_solid:map-pin'"
                          ></mat-icon>
                          <span class="leading-none">London, UK</span>
                      </div>
                      <div class="mt-4 flex items-center">
                          <mat-icon
                              class="mr-3 icon-size-5"
                              [svgIcon]="'heroicons_solid:briefcase'"
                          ></mat-icon>
                          <span class="leading-none"
                              >ACME Corp. Lead UX Designer</span
                          >
                      </div>
                      <div class="mt-4 flex items-center">
                          <mat-icon
                              class="mr-3 icon-size-5"
                              [svgIcon]="'heroicons_solid:cake'"
                          ></mat-icon>
                          <span class="leading-none">April, 24</span>
                      </div>
                  </div>
              </empower-card>
  
              <!-- News -->
              <empower-card
                  class="mt-8 flex w-full max-w-80 flex-col px-8 pb-4 pt-6"
              >
                  <div class="flex items-center justify-between">
                      <div class="text-2xl font-semibold leading-tight">News</div>
                      <div class="-mr-3">
                          <button
                              mat-icon-button
                              [matMenuTriggerFor]="listCard01Menu"
                          >
                              <mat-icon
                                  class="icon-size-5"
                                  [svgIcon]="'heroicons_solid:ellipsis-vertical'"
                              ></mat-icon>
                          </button>
                          <mat-menu #listCard01Menu="matMenu">
                              <button mat-menu-item>Mark all as read</button>
                          </mat-menu>
                      </div>
                  </div>
                  <div class="mt-5 flex flex-col">
                      <div class="flex">
                          <mat-icon
                              class="mr-2 mt-0.5 icon-size-5"
                              [svgIcon]="'heroicons_solid:bell'"
                          ></mat-icon>
                          <div>
                              <b>Payment</b> is not done yet
                          </div>
                      </div>
                      <div class="mt-5 flex">
                          <mat-icon
                              class="mr-2 mt-0.5 icon-size-5"
                              [svgIcon]="'heroicons_solid:bell'"
                          ></mat-icon>
                          <div>
                              Upcoming meetups within 20 miles.
                              <a
                                  class="text-secondary whitespace-nowrap hover:underline"
                                  [routerLink]="['./']"
                                  >See details
                              </a>
                          </div>
                      </div>
                      <div class="mt-5 flex">
                          <mat-icon
                              class="mr-2 mt-0.5 icon-size-5"
                              [svgIcon]="'heroicons_solid:bell'"
                          ></mat-icon>
                          <div>
                              Concerts from your favorite bands available within
                              100 miles.
                              <a
                                  class="text-secondary whitespace-nowrap hover:underline"
                                  [routerLink]="['./']"
                                  >See details
                              </a>
                          </div>
                      </div>
                  </div>
                  <div class="-mx-3 mt-4 flex items-center">
                      <a
                          class="px-3"
                          mat-button
                          [color]="'primary'"
                          [routerLink]="['./']"
                      >
                          See all news
                      </a>
                  </div>
              </empower-card>
          </div>
  
          <!-- Column -->
          <div class="flex flex-col items-start">
              <!-- Create Post -->
               <!-- Recent transactions table -->
               <div
               class="bg-card flex flex-auto flex-col overflow-hidden rounded-2xl shadow xl:col-span-2"
           >
               <div class="p-6">
                   <div
                       class="mr-4 truncate text-lg font-medium leading-6 tracking-tight"
                   >
                       Recent History
                   </div>
                   <div class="text-secondary font-medium">
                       1 pending, 4 completed
                   </div>
               </div>
               <div class="mx-6 overflow-x-auto">
                   <table
                       class="w-full bg-transparent"
                       mat-table
                       matSort
                       [dataSource]="recentTransactionsDataSource"
                       [trackBy]="trackByFn"
                       #recentTransactionsTable
                   >
                       <!-- Transaction ID -->
                       <ng-container matColumnDef="transactionId">
                           <th
                               mat-header-cell
                               mat-sort-header
                               *matHeaderCellDef
                           >
                               Transaction ID
                           </th>
                           <td mat-cell *matCellDef="let transaction">
                               <span
                                   class="text-secondary whitespace-nowrap pr-6 text-sm font-medium"
                               >
                                   {{ transaction.transactionId }}
                               </span>
                           </td>
                       </ng-container>
  
                       <!-- Date -->
                       <ng-container matColumnDef="date">
                           <th
                               mat-header-cell
                               mat-sort-header
                               *matHeaderCellDef
                           >
                               Date
                           </th>
                           <td mat-cell *matCellDef="let transaction">
                               <span class="whitespace-nowrap pr-6">
                                   {{ transaction.date | date: 'MMM dd, y' }}
                               </span>
                           </td>
                       </ng-container>
  
                       <!-- Name -->
                       <ng-container matColumnDef="name">
                           <th
                               mat-header-cell
                               mat-sort-header
                               *matHeaderCellDef
                           >
                               Name
                           </th>
                           <td mat-cell *matCellDef="let transaction">
                               <span class="whitespace-nowrap pr-6">
                                   {{ transaction.name }}
                               </span>
                           </td>
                       </ng-container>
  
                       <!-- Amount -->
                       <ng-container matColumnDef="amount">
                           <th
                               mat-header-cell
                               mat-sort-header
                               *matHeaderCellDef
                           >
                               Amount
                           </th>
                           <td mat-cell *matCellDef="let transaction">
                               <span
                                   class="whitespace-nowrap pr-6 font-medium"
                               >
                                   {{ transaction.amount | currency: 'USD' }}
                               </span>
                           </td>
                       </ng-container>
  
                       <!-- Status -->
                       <ng-container matColumnDef="status">
                           <th
                               mat-header-cell
                               mat-sort-header
                               *matHeaderCellDef
                           >
                               Status
                           </th>
                           <td mat-cell *matCellDef="let transaction">
                               <span
                                   class="inline-flex items-center rounded-full px-2.5 py-0.5 text-xs font-bold uppercase tracking-wide"
                                   [ngClass]="{
                                       'bg-red-200 text-red-800 dark:bg-red-600 dark:text-red-50':
                                           transaction.status === 'pending',
                                       'bg-green-200 text-green-800 dark:bg-green-600 dark:text-green-50':
                                           transaction.status === 'completed',
                                   }"
                               >
                                   <span
                                       class="whitespace-nowrap leading-relaxed"
                                       >{{ transaction.status }}</span
                                   >
                               </span>
                           </td>
                       </ng-container>
  
                       <!-- Footer -->
                       <ng-container matColumnDef="recentOrdersTableFooter">
                           <td
                               class="border-0 px-0 py-6"
                               mat-footer-cell
                               *matFooterCellDef
                               colspan="6"
                           >
                               <button mat-stroked-button>
                                   See all transactions
                               </button>
                           </td>
                       </ng-container>
  
                       <tr
                           mat-header-row
                           *matHeaderRowDef="recentTransactionsTableColumns"
                       ></tr>
                       <tr
                           class="order-row h-16"
                           mat-row
                           *matRowDef="
                               let row;
                               columns: recentTransactionsTableColumns
                           "
                       ></tr>
                       <tr
                           class="h-16 border-0"
                           mat-footer-row
                           *matFooterRowDef="['recentOrdersTableFooter']"
                       ></tr>
                   </table>
               </div>
           </div>
          </div>
      </div>
  </div>
  